!!!
%html
  %head
    %title OOP Marks
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/js/data.js")
    %script(type="text/javascript" src="/js/highcharts.js")
    %script(type="text/javascript" src="/js/marks.js")
    :css
      .chart {
        width: 300px;
        height: 300px;
        float: left;
      }
      .cb {
        clear: both;
      }
  %body
    #email(style="display:none")=@email
    #loading
      Подождите, идет загрузка...
    #charts
